#loader{
    position: fixed;
    align-items: center;
    background: #fff 
    url(../img/giphy\ \(1\).gif) no-repeat center;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: black;

}



h1{
    text-align: center;
}
.header{
    background-color: crimson;
    text-align: right;
    width: 100%;
   height: auto;
    opacity: 1px;
    
    
}
.a1{
    color: whitesmoke;
}
.a1:hover{
    background-color: transparent;
    color: transparent;
}
.head{
   background-color: black;
   color: cornsilk;
   width: 100%;
   height: auto;
   
}
a{
    text-decoration: none;
}
body{
    background-image: url(../img/dd.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
  
   
    width: 100%;
    height: auto;
    
}
.project{
    
    color: white;
    background-color: black;
    height: 300px;
    opacity: 0.7;
    width: 100%;
    height: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px white;
}
.project:hover{
    opacity: 1;
}

.project1{
    
    color:black;
    background-color:white;
    height: auto;
    opacity: 0.7;
    width: 100%;

    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px white;
    
}
.project1:hover{
    opacity: 1;
}
.about{
    background-image: url(../img/dark3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
   
    color:white;
    margin-top: 100px;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 50px;
    box-shadow: 2px 2px 5px white;
    }

.contact{
    background-image: url(../img/bench.jpg);
    padding-bottom: 50px;
    text-align: center;
    margin-top: 100px;
    
   
    
    
}
.all{
    
}










